@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 270 6% 7%; /* #1 MAUVE */
    --foreground: 240 6% 94%; /* #12 MAUVE */
    --card: 260 4% 14%; /* #3 MAUVE */
    --card-foreground: 0 0% 3.9%; /* BLACK */
    --popover: 0 0% 100%; /* WHITE */
    --popover-foreground: 0 0% 3.9%; /* BLACK */
    --primary: 0 0% 98%; /* OLIVE 11.5 */
    --primary-foreground: 0 0% 98%;
    --secondary: 107 4% 47%; /* OLIVE 10 */
    --secondary-foreground: 0 0% 100%; /* WHITE */
    --muted: 0 0% 96.1%; /* WHITE */
    --muted-foreground: 0 0% 63.9%; /* GRAY */
    --accent: 9 100% 97%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 270 5% 24%; /* #6 MAUVE */
    --input: 257 5% 29%; /* #7 MAUVE */
    --ring: 258 5% 39%; /* #8 MAUVE */
    --radius: 0.5rem;
    --first-gradient: 292 79% 77%; /* #1 MAUVE */
    --second-gradient: 246 100% 83%; /* #2 MAUVE */
    --third-gradient: 260 4% 14%; /* #3 MAUVE */
  }

  .dark {
    --background: 270 6% 7%; /* #1 MAUVE */
    --foreground: 240 6% 94%; /* #12 MAUVE */
    --card: 260 4% 14%; /* #3 MAUVE */
    --card-foreground: 0 0% 3.9%; /* BLACK */
    --popover: 0 0% 100%; /* WHITE */
    --popover-foreground: 0 0% 3.9%; /* BLACK */
    --primary: 0 0% 98%; /* OLIVE 11.5 */
    --primary-foreground: 0 0% 98%;
    --secondary: 107 4% 47%; /* OLIVE 10 */
    --secondary-foreground: 0 0% 100%; /* WHITE */
    --muted: 0 0% 96.1%; /* WHITE */
    --muted-foreground: 0 0% 63.9%; /* GRAY */
    --accent: 9 100% 97%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 270 5% 24%; /* #6 MAUVE */
    --input: 257 5% 29%; /* #7 MAUVE */
    --ring: 258 5% 39%; /* #8 MAUVE */
    --radius: 0.5rem;
    --first-gradient: 292 79% 77%; /* #1 MAUVE */
    --second-gradient: 246 100% 83%; /* #2 MAUVE */
    --third-gradient: 260 4% 14%; /* #3 MAUVE */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
