@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 209 87% 6%; /* #1 MAUVE */
    --foreground: 240 6% 94%; /* #12 MAUVE */
    --card: 260 4% 14%; /* #3 MAUVE */
    --card-foreground: 0 0% 3.9%; /* BLACK */
    --popover: 0 0% 100%; /* WHITE */
    --popover-foreground: 0 0% 3.9%; /* BLACK */
    --primary: 0 0% 98%; /* OLIVE 11.5 */
    --primary-foreground: 0 0% 98%;
    --secondary: 107 4% 47%; /* OLIVE 10 */
    --secondary-foreground: 0 0% 100%; /* WHITE */
    --muted: 0 0% 96.1%; /* WHITE */
    --muted-foreground: 0 0% 63.9%; /* GRAY */
    --accent: 9 100% 97%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 25% 52%; /* #6 MAUVE */
    --input: 257 5% 29%; /* #7 MAUVE */
    --ring: 258 5% 39%; /* #8 MAUVE */
    --radius: 0.5rem;
    --first-gradient: 292 79% 77%; /* #1 MAUVE */
    --second-gradient: 246 100% 83%; /* #2 MAUVE */
    --third-gradient: 260 4% 14%; /* #3 MAUVE */
  }

  .dark {
    --background: 209 87% 6%; /* #1 MAUVE */
    --foreground: 240 6% 94%; /* #12 MAUVE */
    --card: 260 4% 14%; /* #3 MAUVE */
    --card-foreground: 0 0% 3.9%; /* BLACK */
    --popover: 0 0% 100%; /* WHITE */
    --popover-foreground: 0 0% 3.9%; /* BLACK */
    --primary: 0 0% 98%; /* OLIVE 11.5 */
    --primary-foreground: 0 0% 98%;
    --secondary: 107 4% 47%; /* OLIVE 10 */
    --secondary-foreground: 0 0% 100%; /* WHITE */
    --muted: 0 0% 96.1%; /* WHITE */
    --muted-foreground: 0 0% 63.9%; /* GRAY */
    --accent: 9 100% 97%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 270 5% 24%; /* #6 MAUVE */
    --input: 257 5% 29%; /* #7 MAUVE */
    --ring: 258 5% 39%; /* #8 MAUVE */
    --radius: 0.5rem;
    --first-gradient: 292 79% 77%; /* #1 MAUVE */
    --second-gradient: 246 100% 83%; /* #2 MAUVE */
    --third-gradient: 260 4% 14%; /* #3 MAUVE */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.image-bg {
  /* Dégradé de rouge clair à rouge foncé */
  /* background: radial-gradient(
      ellipse at top,
      rgba(12, 59, 106, 0.4),
      rgba(3, 16, 30, 0.6),
      rgba(3, 16, 30, 1),
      rgba(3, 16, 30, 1),
      rgba(3, 16, 30, 1)
    ),
    url(https://cdnb.artstation.com/p/assets/images/images/004/656/221/large/chengwei-pan-diana1.jpg?1485328717); */
  background-image: url(https://res.cloudinary.com/dw3mwclgk/image/upload/v1711629209/hrwisiiionr1ukmpclrd.png);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
}

.textstroke {
  text-shadow:
    2px 0 #000000,
    -2px 0 #000000,
    0 2px #000000,
    0 -2px #000000,
    1px 1px #000000,
    -1px -1px #000000,
    1px -1px #000000,
    -1px 1px #000000;
}

li {
  list-style-type: none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #02101d;
}

::-webkit-scrollbar {
  width: 2px;

  background-color: #02101d;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #a38566;
}
